/* =====================
   基本設定
===================== */

body {
    font-family:
        "Microsoft JhengHei",
        sans-serif;
    background: url(../月薪喵.gif);
    background-size: auto;
    background-attachment: fixed;
    color: white;
    text-align: center;
}


/* =====================
   遊戲標題
===================== */

.game-title {
    font-size: 42px;
    font-weight: bold;
    padding: 20px;
    color: #ffd700;
    text-shadow: 3px 3px 8px black;
}


/* =====================
   遊戲主要區域
===================== */

.game-area {
    margin-top: 20px;
}


/* =====================
   RPG 面板
===================== */

.panel {
    background: rgba(10, 10, 10, 0.88);
    border: 3px solid #c9a227;
    border-radius: 15px;
    padding: 20px;
    min-height: 300px;
    box-shadow: 0 0 20px black;
}


.panel h3 {
    color: #ffd700;
}


.panel h4 {
    color: #ffffff;
}


/* =====================
   玩家資訊
===================== */

.player-panel {
    min-height: 650px;
}



/* =====================
   地圖區域
===================== */

.map-panel {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#map {
    display: grid;
    grid-template-columns: repeat(10, 55px);
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}


.cell {
    width: 55px;
    height: 55px;
    background: #222;
    border: 1px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.safe-zone {

    background:
        radial-gradient(circle,
            #3b6d2a,
            #182614);

    box-shadow:
        inset 0 0 15px #8aff70;

}


.wall {
    background: #777;
}


.player {
    background: lightskyblue;
}


.coin {
    background: gold;
}


.monster {
    background: crimson;
    animation: monsterGlow 1s infinite alternate;
}

@keyframes monsterGlow {

    from {
        box-shadow: 0 0 5px red;
    }

    to {
        box-shadow: 0 0 20px red;
    }

}


/* =====================
   HP / EXP 血條
===================== */


.status-bar {
    width: 90%;
    height: 25px;
    margin: 10px auto;
    background: #333;
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden;
}


#playerHPBar {
    width: 100%;
    height: 100%;
    background: green;

    transition: width 0.4s ease;
}


#expBar {
    width: 0%;
    height: 100%;
    background: purple;

    transition: width 0.5s ease;
    /* width：只有寬度會有動畫。
    0.5s：動畫時間 0.5 秒。
    ease：先快後慢，比較自然。 */
}


.exp-bar {
    height: 20px;
}


.monster-bar {
    width: 300px;
}


#monsterHPBar {
    width: 0%;
    height: 100%;
    background: red;

    transition: width 0.4s ease;
}



/* =====================
   戰鬥區
===================== */


#battlePanel {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.9);
    border-color: white;
}


#battleLog {
    height: 120px;
    background: #111;
    color: white;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    overflow: auto;
}



/* =====================
   按鈕
===================== */


button {
    margin: 5px;
    font-weight: bold;
}



/* =====================
   背包
===================== */


.inventory,
ul {
    list-style: none;
    padding: 0;
}


li {
    margin: 8px;
}



/* =====================
   訊息提示
===================== */


#messageBox {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    min-height: 60px;
    background: #111;
    color: white;
    border: 3px solid #ffd700;
    border-radius: 15px;
    padding: 20px;
    font-size: 22px;
    z-index: 999;
}



/* =====================
   GAME OVER
===================== */


#gameOver {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

/* =====================
   出口
===================== */
.exit {
    background: #6a0dad;
    color: white;
    font-size: 28px;
    animation: exitGlow 1s infinite alternate;
}

@keyframes exitGlow {

    from {
        box-shadow: 0 0 5px #b266ff;
    }

    to {
        box-shadow: 0 0 18px #d9a3ff;
    }

}

/* 寶箱外觀 */
.chest {

    background: #8b4513;

    border: 2px solid gold;

}

/* 商人外觀 */
.merchant {

    background: #663399;

    border: 2px solid gold;

}

/* 商店 */
#shop {

    display: none;

    position: fixed;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    background: #111;

    border: 3px solid gold;

    padding: 30px;

    border-radius: 15px;

    z-index: 999;

}

/* BOSS */
.boss {

    background: #800080;

}

/* fire! */

.lava {

    background: #cc3300;

}

/* ======================
   👑 Boss血條
====================== */

.boss-hp {

    height: 25px;

    background:
        linear-gradient(90deg,
            #ff0000,
            #660000);

    box-shadow:
        0 0 15px red;

}

/* boss名稱變大 */
.boss-name {

    color: #ff3333;

    font-size: 28px;

    font-weight: bold;

    text-shadow:
        0 0 10px red;

}

/* 地圖容器 */
#mapContainer {
    position: relative;
    display: inline-block;
}

/* 效果層 */
#effectLayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* 動畫物件 */
.pickup {

    position: absolute;

    font-size: 28px;

    font-weight: bold;

    white-space: nowrap;

    transform: translate(-50%, -50%);

    animation: pickupAnim .9s forwards;

}

/* 動畫 */
@keyframes pickupAnim {

    0% {

        transform:
            translate(-50%, -50%) scale(.4);

        opacity: 0;

    }

    20% {

        transform:
            translate(-50%, -50%) scale(1.4);

        opacity: 1;

    }

    40% {

        transform:
            translate(-50%, -50%) scale(1);

    }

    100% {

        transform:
            translate(-50%, -90px) scale(1);

        opacity: 0;

    }

}

/* 戰鬥專用場景 */
#battleScene {

    height: 300px;

    position: relative;

    overflow: hidden;

    background:
        linear-gradient(#182848,
            #4b6cb7);

    border-radius: 15px;

}

/* 戰鬥背景流動 */
#battleScene {

    background-size: 200% 200%;

    animation:
        battleBackground 8s infinite alternate;

}


@keyframes battleBackground {

    from {

        background-position: 0%;

    }


    to {

        background-position: 100%;

    }

}

/* 角色待機 */
#playerSprite {

    position: absolute;

    bottom: 20px;

    left: 25%;

    font-size: 80px;

    animation:
        playerIdle 1s infinite alternate;

}

@keyframes playerIdle {

    from {
        transform: translateY(0);
    }


    to {
        transform: translateY(-15px);
    }

}

#monsterSprite {

    position: absolute;

    bottom: 80px;

    right: 25%;

    font-size: 80px;

    animation:
        monsterIdle .8s infinite alternate;

}

/* 攻擊 */
.attackMove {

    animation:
        attackMove .3s;

}



@keyframes attackMove {


    50% {

        transform:
            translateX(80px);

    }


}

/* 受傷震動 */
.damageShake {

    animation:
        shake .3s;

}



@keyframes shake {

    25% {
        transform: translateX(-10px);
    }


    50% {
        transform: translateX(10px);
    }


    75% {
        transform: translateX(-10px);
    }


}

/* 傷害數字 */
.damageNumber {

    position: absolute;

    font-size: 40px;

    color: red;

    font-weight: bold;

    animation:
        damageFloat 1s forwards;

}


@keyframes damageFloat {


    from {

        transform:
            translateY(0);

        opacity: 1;

    }


    to {

        transform:
            translateY(-80px);

        opacity: 0;

    }

}